DOTNET_ENVIRONMENT=Stage
ConnectionStrings__MainDatabase=
Database__Host=127.0.0.1
Database__Port=5432
Database__Database=analytics_automation_stage
Database__Username=analytics_automation_app_stage
Database__PasswordFilePath=/etc/analytics-automation/secrets/postgres-app-password